--extra-index-url https://pypi.dev.t3chflicks.org
t3chflicks-service==0.34
gensim==3.8.3
joblib==0.17.0
numpy==1.19.4
pandas==1.1.5
python-dateutil==2.8.1
pytz==2020.4
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
sklearn==0.0
smart-open==4.0.1
threadpoolctl==2.1.0
attrs==20.3.0
fastjsonschema==2.14.5
iniconfig==1.1.1
jmespath==0.10.0
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.15.0
toml==0.10.2
urllib3==1.26.2
boto3==1.16.50